{% extends 'blog/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="post">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary buttn" type="submit">
        Sign in
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}
