body {
    width: 100%;
    display: block;
    position: relative;
    background: #efefee;
    min-height: 45rem;
    padding-bottom: 80px;
}

html {height:100%}

/* NAVIGATION */

.navbar-bg {
    background: url('/images/space-nav.jpg');
    background-size: 20%;
}

.dropdown-menu, .dropdown-menu.show {
    right: 0;
}
.fggf{
    margin-bottom:  20px;
    width: 400px;
    height: 100px;
}
.clearfix{
    clear: both;
    display: block;

}
.buttn_showgroup{
    display: block;
    float: left;
}
.buttn_showcreate{
display: block;
    float: right;

}
.space-brand {
    color: #fff;
    font-weight: bold;
}
.buttn{margin-top: 15px;

}
.post{
    display: block;
    width: 200px;
    height:150px;
    margin: auto;

}
.nav-profile-img {
    width: 50px;
    border: 1px solid #fff;
}
.pagination{
    width: 100%;
}
.navigation{
    width: 30px;
    margin: 0 auto;
}


/* LOGIN REGISTRATION */

.form-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.inactive {
    border-color: lightgray lightgray lightgray;
    background: darkgray;
    color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #efefee;
}

/* ADVERTISEMENT */

.ad-space {
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid green;
}

.advertisement-img {
    width: 150px;
    height: auto;
    border: 2px solid #efefee;
    border-radius: 5px;
}

.advertisement-text {
    font-weight: bold;
}

.quote-space {
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    border-top: 5px solid hotpink;
}

/* ARTICLES */
.article-blog{
    width: 60%;
    margin: auto;
}
.comments-form textarea{
    width: 73%;
}
.main-article {
    border: 2px solid #efefee;
    Background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-article img {
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 5px solid lightblue;
}

.article-container {
    border: 1px solid #efefee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
}

.main-article-link, .article-container a {
    text-decoration: none;
    color: #000;
}
.her{
    margin-bottom: 5px;
}
.main-article-link:hover {
    text-decoration: none;
    color: #000;
}
.article-body{
    width: 556px;
    margin-bottom: 15px;
}
a.more{
    border:2px solid #c2c2c2; color:#c2c2c2; padding:7px 20px; display:inline-block; border-radius:20px; text-decoration:none;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -o-transition:all 0.1s linear;
    transition:all 0.1s linear;
}
a:hover.more{
    color: #0e319c; border-color: #597f9c;}
.article-title {
    min-width: 100px;
}
.blog-body{
    display: block;
    width: 800px;
    margin-left: 130px;
}

.like-article, .like-article:hover {
    color: red;
    text-decoration: none;
}
@media (max-width: 440px) {
    .article-title {
        min-width: 100px;
        max-width: 245px;
    }
}
.article-images{
    position: relative;
    display: block;
    margin-bottom: 20px;
    width: 600px;
    height: 400px;

}
.article-images img{
    position: absolute;
    object-fit: cover;
    z-index:0;top:0;left:0;
    display: block;
    margin-bottom: 20px;
    width: 600px;
    height: 400px;

}
.article-img {
    height: 100px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.article-details {
    font-size: .8em;
}

/* PROFILE */

.profile-img {
    width: 50px;
    height: auto;
    border: 2px solid #fff;
}

.profile-name {
    font-size: 1.5em;
}

.my-article-container {
    background: #FFBC49;
    border: solid 1px #efefee;
    border-radius: 5px;
}


/* CREATE ARTICLE */

.create-article-container {
    min-width: 400px;
    background-color: lightblue;
    border-radius: 5px;
}

/* ARTICLE SHOW PAGE */

.show-article-container {
    width: 100%;
    background-color: #fff;
}

.show-article-img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.show-article-title {
    font-size: 2em;
}

.like-article, .like-article:hover {
    color: red;
    text-decoration: none;
}

@media (max-width: 991px) {
    .show-article-title {
        font-size: 1.5em;
    }

    .show-article-title-container {
        max-width: 220px;
    }
}

.article-text {
    margin-top: 20px;
}

.share-icons i {
    font-size: 1.5em;
}

.comment-img {
    width: 50px;
    height: auto;
    border: 1px solid darkgray;
}

.commenter-name {
    font-weight: bold;
}

.comment-form {
    min-width: 500px;
}

@media (max-width: 767px) {
    .comment-form {
        min-width: 260px;
    }
}



/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
  margin-top: 10px;
}
