{% extends 'blog/base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary buttn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}
{% endblock %}

