
{% block title %}
    Articles
{% endblock %}

{% block body %}
    {% block sidebar %}
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    {% endblock %}
    <ul>
        {% for article in articles %}
            <li>{{ article.id }}</li>
            <li>{{ article.text | title}}</li>
        {% endfor %}
    </ul>
{% endblock %}
