{% extends 'base.html.twig' %}
{% block title %}
    articles
{% endblock %}

{% block body %}
    <ul>
        {% for article in articles %}
            <li>{{ article.id }}</li>
            <li>{{ article.text | title}}</li>
        {% endfor %}
    </ul>
{% endblock %}